
*{
	margin: 0;
	padding: 0;
}
.pa{
	position: absolute;
}
.dn{
	display: none;
}
.gameMain{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.scnene01_wp{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.game_bg{
	width: 100%;
}
.scene01_box01{
    top: 100px;
	width: 100%;
	text-align: center;
}
.scene01_box01 img{
	width: 68%;
}
.scene01_box02{
    top: 630px;
    width: 100%;
    text-align: center;
    -webkit-animation: scene01_box02 1s infinite alternate;
}
@-webkit-keyframes scene01_box02
{
    0%{
        top: 630px;
    }
    100% {
       top: 650px;
    }
}
.scene01_box03{
	top: 85%;
	width: 100%;
	text-align: center;	
}



/*scene2*/
.scnene02_wp{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.scene02_main{
	top: 0;
	width: 100%;
	/*background: rgba(0,0,0,.5);*/
	height: 100%;
}
.scene02_box01{
    top: 150px;
	width: 100%;
	/*height: 100%;*/
	text-align: center;
}
.scene02_box02{
	bottom: 10%;
	width: 100%;
	text-align: center;
}
.scene02_con{
    top: 325px;
    height: 267px;
    width: 192px;
    left: 0;
    right: 0;
    margin: auto;
    /*background: rgba(255,0,0,.5);*/
}
.pa_animation{
	top: 0;
	left: 0;
	-webkit-transform-origin:center center;
	transform-origin:center center;
	/*-webkit-transition: all 0.8s;*/
	/*-webkit-transform:scale(1.5);*/
}
.pa_animation01{
    -webkit-transform: rotate(-55deg) translate(-131px,-150px);
}
.pa_animation02{
    -webkit-transform: rotate(-40deg) translate(-87px,-116px);
}
.pa_animation03{
	-webkit-transform: rotate(-25deg) translate(-45px,-91px);
}
.pa_animation04{
    -webkit-transform: rotate(-10deg) translate(-1px,-71px);
}
.pa_animation05{
    -webkit-transform: rotate(5deg) translate(43px,-64px);
}
.pa_animation06{
    -webkit-transform: rotate(20deg) translate(91px,-77px);
}
.pa_animation07{
    -webkit-transform: rotate(35deg) translate(134px,-103px);
}
.pa_animation08{
    transform: rotate(50deg) translate(161px,-144px);
}

#pa01{
	-webkit-transition: all 0.8s;	
}
.scnee02_ro{
	-webkit-transform:scale(0.5);
}

.logo{
	left: 0;
	right: 0;
	margin:auto;
	z-index: 9;
}
.loding .logo{
	margin:3% auto;
}

.font_top{
    width: 100%;
    left: 0;
    text-align: center;
    bottom: 15%;
}
.hand02{
	top: 130%;
    left: 0;
    right: 0;
    margin: auto;
	/*-webkit-animation: hand02 1s infinite alternate;*/
}
@-webkit-keyframes hand02
{
    0%{
       top: 130%;
    }
    100% {
       top: 100%;
    }
}
.loding2{
    position: absolute;
    left: 37%;
    top: 42%;
     -webkit-animation: loding2 1s infinite alternate; 
    z-index: -1;
}
@-webkit-keyframes loding2
{
    
    0%{
		left: 38%;
    	top: 41%;
    }
    100% {
       	left: 37%;
    	top: 42%;
    }
}
.loding_spr{
	-webkit-transform-origin:center center;
	-webkit-animation: loding_spr 1s infinite alternate; 
}
@-webkit-keyframes loding_spr
{
    
    0%{
		-webkit-transform: rotate(0deg);
    }
    100% {
       	-webkit-transform: rotate(5deg);
    }
}




/*scene3*/
.scnene03_wp{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.scene03_main{
	top: 0;
	width: 100%;
	/*background: rgba(0,0,0,.5);*/
	height: 100%;
}
.scene03_con{
    position: relative;
    text-align: center;
    top: 13%;
}
.scene03_img{

}
.scene03_box{
	bottom: 10%;
	width: 100%;
	text-align: center;
}
.scene03_tit01{
	opacity: 0;
    top: -150px;
    left: 63px;
    display: none;
    -webkit-transition: all 1s;
    z-index: 9
}
.scene03_tit02{
	opacity: 0;
    top: -80px;
    left: 120px;
    display: none;
    -webkit-transition: all 0.8s;
    z-index: 9;
}
.scene03_tit03{
	opacity: 0;
    top: -178px;
    left: 429px;
    display: none;
    -webkit-transition: all 1s;
    z-index: 9;
}
.scene03_tit04{
	opacity: 0;
    top: -75px;
    left: 455px;
    display: none;
	-webkit-transition: all 0.8s;
	z-index: 9;
}


/*scene4*/
.scnene04_wp{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.scnene04_main{
    text-align: center;
    position: relative;
    width: 100%;
    top: 2%;
}
.scene04_box{
    /*margin-top: 5%;*/
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.scene04_box img{
	float: left;
}
.scene04_box img:nth-child(1){
	float: left;
	margin-left: 6%
}
.share_box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.9);
	display: none;
	z-index: 9999;
}

/*loding*/
.loding{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 100%;
    z-index: 999;
    text-align: center;
}
.loding_img{
	position: relative;
	margin-top:50%; 

}
.loding_img p{
    margin-top: 3%;
    font-size: 2.5em;
}
.loding_font{
	color: #ffe06a;
}
.game_loNumb{
	color: #fff;
}
 


 .scnene04_main_wp{
 	position: relative;
 }  
.scnene04_tit{
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    margin: auto;
    width: 87%;
    height: 32%;
    /*margin-left: 5%;*/
    overflow: hidden;
    text-align: center;
}
.scene04_tit2{
	position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    width: 95%;
    height: 100%;
    overflow: hidden;
}

.scnene04_tit_img{
	margin-left: 100%;
	-webkit-transition: all 0.8s;
}







